
.formulario{

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width:400px;
    height:auto;
    background-color: white;
    padding: 15px;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(1, 74, 209);
    display: flexbox;
    z-index: -1;
}



body {
    
    z-index: -1;
    background-color: #e4ebe7;
}

.logo{
    width:140px;
    height:70px;

}

.BarraNavegacion{
    
    position:fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 0px 8px black;
    top: 0%;
}

.navbar-nav.ml-auto{

    display: grid;
    grid-template-columns: repeat(5,200fr);
    grid-template-rows: repeat(1,100fr);
    margin-left: 300px;
    
}

.dropdown-menu.show{

    z-index: 1;
}
.carousel.slide{

    z-index: -1;
}


footer{

    margin-bottom: 0px;
}


.contenedor{

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(7, 200fr);
    grid-template-rows: repeat(1,100%);
    padding: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
  
}

.contenedor2{

    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(4, 200fr);
    grid-template-rows: repeat(5,200fr);
    padding: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
  
}

.contenedor2 img{

    height:130px;
    width:130px;
}

.contenedor2 div{

    align-content: initial;
    text-align: left;
}

.contenedor2 p{

    font-family: cursive;
    font-style: normal;
    font-size: larger;
}


.banner{
    z-index: -1;
    margin-top: 7%;
}

.dropdown-menu{

    right: 3%;
}
